html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #221E3E;
  text-align: center;
  font-family: sans-serif;
}

img {
  margin-top: 30vh;
  height: 2rem;
  object-fit: cover;
}

h1 {
  color: white;
  font-size: 3rem;
}

#main-div {
  background-color: white;
  height: 25vh;
  width: 28rem;
  margin: auto;
  border-radius: 1.5rem;
  box-shadow: 0 0.2rem 0.5rem 0 blue;
}

#main-div p {
  padding-top: 1.5rem;
  font-size: 1.2rem;
}

#main-div input {
  border: none;
  outline: none;
  text-align: center;
  font-size: 1.2rem;
  border-bottom: 2px solid purple;
}

#main-div input, #main-div button {
  margin-top: 2vh;
}

#main-div button {
  border: none;
  background-color: purple;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

#main-div button:hover {
  cursor: pointer;
}

#main-div input:focus {
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-radius: 0.4rem;
}

#result {
  font-size: 1.5rem;
  margin-top: 2.5vh;
}

#secondary-div {
  background-color: green;
  height: 8rem;
  margin: auto;
  width: 28rem;
  border-radius: 1rem;
  color: white;
  font-size: 1.2rem;
}

#secondary-div p {
  padding: 1vh 4rem;
}